{% extends 'base.html.twig' %}

{% block body %}
    <h1>Players</h1>

    <a href="{{ path('app_composition') }}">Retour à la composition</a>

    <a href="{{ path('player_new') }}">Create new</a>

    <input type="text" id="search" placeholder="Search players..." onkeyup="filterPlayers()">

    <table id="playersTable">
        <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <td>{{ player.firstname }}</td>
                <td>{{ player.lastname }}</td>
                <td>
                    <a href="{{ path('player_edit', {'id': player.id}) }}">edit</a>
                    <form method="post" action="{{ path('player_delete', {'id': player.id}) }}" style="display:inline-block;">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ player.id) }}">
                        <button type="submit">delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        function filterPlayers() {
            const searchInput = document.getElementById('search').value.toLowerCase();
            const table = document.getElementById('playersTable');
            const rows = table.getElementsByTagName('tr');

            for (let i = 1; i < rows.length; i++) {
                const firstName = rows[i].getElementsByTagName('td')[0].textContent.toLowerCase();
                const lastName = rows[i].getElementsByTagName('td')[1].textContent.toLowerCase();
                if (firstName.includes(searchInput) || lastName.includes(searchInput)) {
                    rows[i].style.display = '';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        }
    </script>
{% endblock %}